!!! 5
html
  head
    link(rel='Stylesheet', href='/stylesheets/styles.css')
    link(rel='Stylesheet', href='/stylesheets/font-awesome.css')
    script(src='/javascript/jquery-1.8.0.min.js', type='text/javascript')
    title #{title}
    //
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM$7OMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM77777MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMI777777IMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMD7I7777777777MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO777777777777ZMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMD77777777777777NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMNOI77777777777778MMMMMMMMMMMMMMMMMMNNDMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMNI77777777777777ZMMMMMMMMMMMMMO777777777777I777777777MMMMMMMM
      MMMMMMMMMMMMMMMMI777777777777777OMMMMMMMMMMMMOI7777777777777777777777777778MMMMM
      MMMMMMMMMMM$I7777777777777777DMMMMMMMMMMMMI77777777777777777777777777777777IMMMM
      MMMMMMN777777777777777777777IMMMMMMMMMMMMMM7777777777777I8D88DMMMMMMMM777777IMMM
      MMMI7777777777777777777777777MMMMMMMMMMMMMMI77777778MMMMMMMMMMMMMMMMMMM777777DMM
      MMMI7777777777777777777777777ZMMMMMMMMMMMMMN7777777MMMMMMMMMMMMMMMMMMMM777777DMM
      MMMZ777777777777777IDMI$7777778MMMMMMMMMMMMM7777777IMMMMMMMMMMMMMMMMMM$777777MMM
      MMMMI77777777777DMMMMMMI7777777ZMMMMMMMMMMMMM7777777DMMMMMMMMMMMMMMMMO777777DMMM
      MMMMM?7777IINMMMMMMMMMMM77777777MMMMMMMMMMMMM87777777MMMMMMMMMMMMMMM8777777NMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMM77777777MMMMMMMMMMMMM77777777MMMMMMMMMMMMMM777777IMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMO7777777IMMMMMMMMMMMMD77777777MMMMMMMMMMMM777777IMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMM777777778MMMMMMMMMMMMI7777777MMMMMMMMMMM7777777MMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMM77777777DMMMMMMMMMMMM77777777MMMMMMMMM7777777$MMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMO77777777MMMMMMMMMMMMI77777777MMMMMMM7777777$MMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMZ7777777OMMMMMMMMMMMM77777777DMMMM$77777777MMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMM777777777MMMMMMMMMMMZ77777777MMM77777777IMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMN777777777MMMMMMMMMMM777777777O777777777MMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMO77777777NMMMMMMMMMM777777777777777777NMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM77777777OMMMMMMMMMMM7777777777777777OMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM7777778MMMMMMMMMMMM877777777777777ZMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMD77ZMMMMMMMMMMMMMMMM777777777777ZMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMZ77777777ONMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMI7777INMMMMMMMMMMMMMMMMMMMM
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM877IMMMMMMMMMMMMMMMMMMMMMMM
  body
    #wrapper
      header.container#pageheader
        div#logo
          a(href="/")
            h1 TerrorDoc
      #main-content
        block mainContent
      #push
    #footer
      p Written by:
        a(href='https://github.com/TerrordactylDesigns')
          | TerrordactylDesigns
        a(href='https://github.com/TerrordactylDesigns').sociallink
          | <i class="icon-github icon-large"></i>
        a(href='http://gplus.to/TerrordactylDesigns').sociallink
          | <i class="icon-google-plus icon-large"></i>